<table class="pure-table">
    <caption><a href="/settings/update">Update Settings</a></caption>
    <thead>
        <tr>
            <th>Setting</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hub IP</td>
            <td>{{hub.host}}</td>
        </tr>
        <tr>
            <td>Hub Username</td>
            <td>{{hub.username}}</td>
        </tr>
        <tr>
            <td>Log File Location</td>
            <td>{{log.directory}}</td>
        </tr>
        <tr>
            <td>App Port</td>
            <td>{{port}}</td>
        </tr>
        <tr>
            <td>Debug Mode</td>
            <td>{{debug}}</td>
        </tr>
    </tbody>
</table>
