<form method="post" action="/settings/update" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Hue Bridge Settings</legend>
        <div class="pure-control-group">
            <label for="hue_host">Hue Bridge Host IP</label>
            <input type="text" name="host" id="hue_host" value="{{hub.host}}" />
        </div>
        <div class="pure-control-group">
            <label for="hue_username">Hue Bridge Username</label>
            <input type="text" name="username" id="hue_username" value="{{hub.username}}" />
        </div>
    </fieldset>

    <fieldset>
        <legend>Elite Dangerous</legend>
        <div class="pure-control-group">
            <label for="save_log_dir">Log Directory</label>
            <input type="text" name="directory" id="save_log_dir" value="{{log.directory}}" />
        </div>
    </fieldset>

    <fieldset>
        <legend>Server Config</legend>
        <div class="pure-control-group">
            <label for="server_port">Server Port</label>
            <input type="text" name="port" id="server_port" value="{{port}}" />
        </div>
        <div class="pure-control-group">
            <label for="server_debug">Server Debug Mode?</label>
            <select name="debug" id="server_debug">
                <option value="false" {{selected "false" debug}}>False</option>
                <option value="true" {{selected "true" debug}}>True</option>
            </select>
        </div>
    </fieldset>

    <button type="submit" class="pure-button pure-button-primary">Submit</button>
</form>
